<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    
    <title>Personal vCard Template</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/fancybox.css" %}"/>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic"/>
    
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easytabs.min.js"></script>
    <script type="text/javascript" src="js/respond.min.js"></script>
    <script type="text/javascript" src="js/jquery.easytabs.min.js"></script>   
	<script type="text/javascript" src="js/jquery.adipoli.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/jquery.gmap.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    
</head>
    <body>
        <!-- Container -->
        <div id="container">
        
            <!-- Top -->
			<div class="top"> 
            	<!-- Logo -->
            	<div id="logo">
                	<h2>Корнеев Антон</h2>
                    <h4>Тестирование и Автоматизация</h4>
                </div>
                <!-- /Logo -->
                
                <!-- Social Icons -->
                <ul class="socialicons">
                	<li><a href="#" class="social-text">SOCIAL PROFILES</a></li>
                	<li><a href="#" class="social-facebook"></a></li>
                    <li><a href="#" class="social-twitter"></a></li>
                    <li><a href="#" class="social-googleplus"></a></li>
                </ul>
                <!-- /Social Icons -->
            </div>
            <!-- /Top -->
            
            <!-- Content -->
            <div id="content" >
            
                <!-- Profile -->
                <div id="profile"> 
                 	<!-- About section -->
                	<div class="about">
                    	<div class="photo-inner"><img src="{% static "images/photo1.jpg" %}" height="186" width="153" /></div>
                        <h1>Корнеев антон</h1>
                        <h3>Тестирование и Автоматизация</h3>
                        <p>Не стесняйтесь взглянуть на мою визитную карточку.</p>
                    </div>
                    <!-- /About section -->
                     
                    <!-- Personal info section -->
                	<ul class="personal-info">
						<li><label>Имя</label><span>Корнеев антон</span></li>
                        <li><label>День рождения</label><span>June 17, 1982</span></li>
                        <li><label>Адрес</label><span>МСК</span></li>
                        <li><label>Почта</label><span>A.smith@gmail.com</span></li>
                        <li><label>Телефон</label><span>+123 111 111 111</span></li>
                        <li><label>Сайт</label><span>http://127.0.0.1:8000/mypage01</span></li>
                    </ul>
                    <!-- /Personal info section -->
                </div>        
                <!-- /Profile --> 

                <!-- Menu -->
                <div class="menu">
                	<ul class="tabs">
                    	<li><a href="#profile" class="tab-profile">Образование</a></li>
                    	<li><a href="#resume" class="tab-resume">Работа</a></li>
                    	<li><a href="#portfolio" class="tab-portfolio">Хобби</a></li>
                    	<li><a href="#contact" class="tab-contact">Контакты</a></li>
                    </ul>
                </div>
                <!-- /Menu --> 
                
                <!-- Resume -->
                <div id="resume">
                	 <div class="timeline-section">
                        <!-- Timeline for Employment  -->   
                        <h3 class="main-heading"><span>Образование</span></h3>
                        <ul class="timeline">
                            <li>
                                                   
                                <div class="timelineUnit">
                                    <h4>Программное обеспечение вычислительной техники и автоматизированных систем<span class="timelineDate">2002 - 2007</span></h4>
                                    <h5>МГТУ им. Н. Э. Баумана</h5>
                                    <p></p>
                                </div>
                            </li>
                            <div class="clear"></div>
                        </ul> 
                        <!-- /Timeline for Employment  -->

                        <!-- Timeline for Education  -->   
                        <h3 class="main-heading"><span>Работа</span></h3>
                         <ul class="timeline">
                            <li>            
                                <div class="timelineUnit">
                                    <h4>Tester<span class="timelineDate">2014 - 2018</span></h4>
                                    <h5>SberTech</h5>
                                    <p>testing</p>
                                </div>
                            </li>
                            <div class="clear"></div>
                        </ul> 
                        <!-- /Timeline for Education  -->              
                    </div>
                    <div class="skills-section">
                        <!-- Skills -->
                        <h3 class="main-heading"><span>Навыки работы с графическими пакетами</span></h3>
                        <ul class="skills">
                            <li>
                                <h4>Photoshop</h4>
                                <span class="rat6"></span>
                            </li>
                            <li>
                                <h4>Indesign</h4>
                                <span class="rat4"></span>
                            </li>
                            <li>
                                <h4>Illustrator</h4>
                                <span class="rat5"></span>
                            </li>
                            <li>
                                <h4>Flash</h4>
                                <span class="rat4"></span>
                            </li>
                            <li>
                                <h4>Corel Draw</h4>
                                <span class="rat2"></span>
                            </li>
                            <li>
                                <h4>Cinema4D</h4>
                                <span class="rat6"></span>
                            </li> 
                        </ul>
                   
                        <h3 class="main-heading"><span>Навыки программирования</span></h3>
                        <ul class="skills">
                            <li>
                                <h4>Dreamweaver</h4>
                                <span class="rat4"></span>
                            </li>
                            <li>
                                <h4>Pl/Sql</h4>
                                <span class="rat2"></span>
                            </li>
                            <li>
                                <h4>Python</h4>
                                <span class="rat6"></span>
                            </li>
                            <li>
                                <h4>C#</h4>
                                <span class="rat5"></span>
                            </li>
                            <li>
                                <h4>Drupal</h4>
                                <span class="rat3"></span>
                            </li>
                        </ul>
                        <h3 class="main-heading"><span>Design Skills</span></h3> 
                        <ul class="skills">
                            <li>
                                <h4>Graphic Design</h4>
                                <span class="rat4"></span>
                            </li>
                            <li>
                                <h4>Web design</h4>
                                <span class="rat3"></span>
                            </li>
                            <li>
                                <h4>Print Design</h4>
                                <span class="rat6"></span>
                            </li>
                        </ul>
                     <!-- /Skills -->
                     </div>
                </div>
                <!-- /Resume --> 
                                        
                <!-- Portfolio -->
                <div id="portfolio">

                    <div class="extra-text">Хобби</div>
                    <ul id="portfolio-list">
                        <li class="illustration print">
                            <a href="portfolio/1.jpg" rel="portfolio">
                                <img src="portfolio/1-thumb.jpg" alt="">
                                <h2 class="title">Hello Goodbye</h2>
                                <span class="categorie">Print / Illustration</span> 
                            </a>
                    	</li>
                        <li class="photoghraphy">
                            <a href="portfolio/2.jpg" rel="portfolio">
                                <img src="portfolio/2-thumb.jpg" alt="" >                            
                                <h2 class="title">Help us</h2>
                                <span class="categorie">Photography</span> 
                            </a>
                    	</li>
                        <li class="webdesign">
                            <a href="portfolio/3.jpg" rel="portfolio">
                                <img src="portfolio/3-thumb.jpg" alt="" >
                                <h2 class="title">Snow time</h2>
                                <span class="categorie">Webdesign</span> 
                            </a>
                    	</li>
                        <li class="animation print">
                            <a href="portfolio/4.jpg" rel="portfolio">
                                <img src="portfolio/4-thumb.jpg" alt="" >
                                <h2 class="title">Sunshine</h2>
                                <span class="categorie">Print / Animation</span> 
                            </a>
                    	</li>
                        <li class="animation">
                            <a href="portfolio/5.jpg" rel="portfolio">
                                <img src="portfolio/5-thumb.jpg" alt="" >
                                <h2 class="title">Come together</h2>
                                <span class="categorie">Animation</span> 
                            </a>
                    	</li>
                        <li class="webdesign print">
                            <a href="portfolio/6.jpg" rel="portfolio">
                                <img src="portfolio/6-thumb.jpg" alt="" >
                                <h2 class="title">The yellow</h2>
                                <span class="categorie">Webdesign / Print</span> 
                            </a>
                    	</li>
                        <li class="photoghraphy">
                            <a href="portfolio/7.jpg" rel="portfolio">
                                <img src="portfolio/7-thumb.jpg" alt="" >
                                <h2 class="title">Black bird</h2>
                                <span class="categorie">Photoghraphy</span> 
                            </a>
                    	</li>
                        <li class="illustration">
                            <a href="portfolio/8.jpg" rel="portfolio">
                                <img src="portfolio/8-thumb.jpg" alt="" >
                                <h2 class="title">Revolution</h2>
                                <span class="categorie">Illustration</span> 
                            </a>
                    	</li>
                    </ul>
                </div>
                <!-- /Portfolio -->   
                
                <!-- Contact -->
                <div id="contact">
                	<div id="map"></div>
                	<!-- Contact Info -->
                    <div class="contact-info">
                    <h3 class="main-heading"><span>Contact info</span></h3>
                	<ul>
                        <li>Level 13, 2 Elizabeth St, Melbourne Victoria 3000 Australia<br /><br /></li>
                        <li>Email: John.smith@gmail.com</li>
                        <li>Phone: +123 456 789 111</li>
                        <li>Website: www.johnsmith.com</li>
                    </ul>
                    </div>
                    <!-- /Contact Info -->
                    
                    <!-- Contact Form -->
                    <div class="contact-form">
                        <h3 class="main-heading"><span>Let's keep in touch</span></h3>
                        <div id="contact-status"></div>
                        <form action="#" id="contactform">
                            <p>
                            	<label for="name">Your Name</label>
                            	<input type="text" name="name" class="input" >
                            </p>
                            <p>
                            	<label for="email">Your Email</label>
                            	<input type="text" name="email" class="input">
                            </p>
                            <p>
                            	<label for="message">Your Message</label>
                                <textarea name="message" cols="88" rows="6" class="textarea" ></textarea>
                            </p>
                            <input type="submit" name="submit" value="Send your message" class="submit">
                        </form>
                    </div>
                    <!-- /Contact Form -->
                </div>
                <!-- /contact -->  

            </div>
            <!-- /Content -->
            
            <!-- Footer -->
			<div class="footer">
            	<div class="copyright">Copyright © 2012 John smith</div>
            </div>
            <!-- /Footer --> 
            
        </div>
		<!-- /Container -->
		<div id="style-switcher">
        	<span class="title">Background</span>
            <ul>
            	<li><a class="bg-switcher" value="1" href="#"><img width="20" height="20" src="images/bg1.png" /></a></li>
                <li><a class="bg-switcher" value="2" href="#"><img width="20" height="20" src="images/bg2.png" /></a></li>
                <li><a class="bg-switcher" value="3" href="#"><img width="20" height="20" src="images/bg3.png" /></a></li>
                <li><a class="bg-switcher" value="4" href="#"><img width="20" height="20" src="images/bg4.png" /></a></li>
                <li><a class="bg-switcher" value="5" href="#"><img width="20" height="20" src="images/bg5.png" /></a></li>
                <li><a class="bg-switcher" value="6" href="#"><img width="20" height="20" src="images/bg6.png" /></a></li>
                <li><a class="bg-switcher" value="7" href="#"><img width="20" height="20" src="images/bg7.png" /></a></li>
                <li><a class="bg-switcher" value="8" href="#"><img width="20" height="20" src="images/bg8.png" /></a></li>
            </ul>
        </div>
    </body>
	</html>